<main>
  <div id="booking" class="section">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="booking-form">
              <div class="form-header">
                <h1>Asociación Asperger de Asturias</h1>
              </div>
              <div class="row">
                 <div class="form-group">
                   <span class="form-label">
                      <h6>El síndrome de Asperger es un trastorno neurobiológico que altera el procesamiento de la información. Las personas con trastorno del espectro del autismo tienen un aspecto e inteligencia normal o incluso superior a la media pero sin embargo suelen presentar dificultades en las relaciones sociales o comunicativas en general.
Desde la Asociación Asperger Asturias queremos darte la oportunidad de ampliar información sobre cómo podemos ayudar a las personas con Síndrome de Asperger/TEA y sus familias.
Nuestro principal objetivo es ponernos a disposición de todas aquellas personas que necesiten nuestro asesoramiento profesional, además de apoyar, divulgar, formar profesionales y preparar programas especiales que sirvan de ayuda en el tratamiento del SEA/TEA.
La Asociación Asperger Asturias surge por tanto con el convencimiento de que de forma conjunta se podrá lograr un servicio de mejora de la calidad de vida de las personas con SA/TEA y de sus familias, algo que de forma individual nunca se podría llegar a conseguir.
Amplía información sobre nuestra asociación o revisa los proyectos que hemos creado. Y si tienes alguna consulta específica, ponte en contacto con nosotras.</h6></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>