<main>
  <div id="booking" class="section">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="booking-form">
              <div class="form-header">
                <h1>Oficina de Objetos perdidos</h1>
              </div>
              <div class="row">
                 <div class="form-group">
                   <span class="form-label">
                      <h6>Los datos recabados serán incorporados y tratados en la actividad de tratamiento "Objetos
                        perdidos", responsabilidad de la Dirección General de Contratación y Servicios, con domicilio en
                        la
                        calle Alcalá nº 45, 28014 Madrid.
                        Los datos se recaban con la finalidad de gestionar la custodia y devolución a propietarios y
                        halladores de los objetos perdidos depositados en la Oficina de Objetos Perdidos del
                        Ayuntamiento
                        de
                        Madrid. Los datos proporcionados se conservarán mientras no se solicite la supresión por el
                        interesado.
                        El tratamiento de datos queda legitimado mediante el consentimiento de las personas interesadas,
                        de
                        acuerdo Con los artículos 615 y 616 del Código Civil.
                        Los datos no podrán ser cedidos a terceros salvo en los supuestos previstos en la normativa
                        vigente
                        sobre protección de datos de carácter personal.</h6></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>