<main>
  <div id="booking" class="section">
    <div class="section-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="booking-form">
              <div class="form-header">
                <h1>Error</h1>
                Error de autenticacion. Acceso denegado
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>